xml/mangas.dtd

<!ELEMENT mangas (manga+)>

<!ELEMENT manga (titre, auteur, editeur, annee, tome, image, resume)>
<!ATTLIST manga
    genre CDATA #REQUIRED
    statut CDATA #REQUIRED
>

<!ELEMENT titre (#PCDATA)>
<!ELEMENT auteur (#PCDATA)>
<!ELEMENT editeur (#PCDATA)>
<!ELEMENT annee (#PCDATA)>
<!ELEMENT tome EMPTY>
<!ATTLIST tome
    numero CDATA #REQUIRED
    disponible (oui|non) "oui"
>

<!ELEMENT image EMPTY>
<!ATTLIST image
    src CDATA #REQUIRED
>

<!ELEMENT resume (#PCDATA)>
